.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 50px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 800;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}
.primary {
    background-color: #F3ECDC;
    color: #588157;
}
.secondary {
    color: #F3ECDC;
    background-color: #588157;
}
.arrow {
    font-size: 14px;
}